body {
    background-image: url(../images/SnowyBackgroundImageByCoPilot.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-family: Teko;
    
}

img {
    border-radius: 10px;
}

header {
    background-color: hsla(0, 0%, 0%, 0.6);
    border: 1.5px solid black;

    width: 100%;
    padding: 0px;
    margin: 0;

    color: white;
}

p.topBar {
    position: static;
    left: 50%;
    text-align: center;

    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: center;
}

button {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;

    border-radius: 5px 10px;
    padding: .5% 1% .5% 1%;

    background-color: hsla(0, 0%, 100%, 0.8);

    font-family: Teko;
    font-size: 18px;
}

/************************** Main/Home Page **************************/
main.welcome {
    display: grid;
}

div {
    /* background-color: hsla(0, 0%, 100%, 0.7); */
    border-radius: 5px 20px;
}

.class div {
    background-color: hsla(0, 0%, 100%, 0.7);
}

h2 {
    font-size: 25px;
}

.s1 {
    background-color: hsla(0, 0%, 100%, 0.7);
    grid-column: 1 / span 3;
    grid-row: 1;

    padding: 1% 2% 1% 2%;
    margin: 2% 5%;
}

.s2 {
    background-color: hsla(0, 0%, 100%, 0.7);
    grid-row: 2;
    grid-column: 1;

    padding: 1% 2% 1% 2%;
    margin: 2% 3%;
}

.s3 {
    background-color: hsla(0, 0%, 100%, 0.7);
    grid-row: 2;
    grid-column: 2;

    padding: 1% 2% 1% 2%;
    margin: 2% 3%;
}

.s4 {
    background-color: hsla(0, 0%, 100%, 0.7);
    grid-row: 2;
    grid-column: 3;

    padding: 1% 2% 1% 2%;
    margin: 2% 3%;
}

p.description {
    text-align: left;
    font-size: 22px;
}


h2 {
    text-align: center;
}




/************************** Footer **************************/
footer {
    background-color: hsla(0, 0%, 0%, 0.6);
    width: 100%;

    padding: 0px;
    margin: 0;
    bottom: 0px;

    position: fixed;
    justify-content: center;

    color: white;
    font-size: 1.4rem;
}

footer p {
    text-align: center;
}


/************************** Staff Page **************************/
.itemList {
    display: flex;
    flex-direction: column;

    position: static;
    margin-top: 1%;
    margin-bottom: 4.5%;
}

.staffProfile {
    background-color: hsla(0, 0%, 0%, 0.6);
    display: flex;

    align-self: center;
    width: 80%;
    height: 35%;
    margin-top: 2%;
}

div.staffProfile img {
    margin: 1%;
}


.staffText {
    margin: 3%;
    text-align: left;
}

div.staffText {
    background-color: hsla(0, 0%, 100%, 0.7);
}

.name {
    font-size: 25px;
    font-weight: bold;
}

 p.staffText {
    font-size: 20px;
 }

/************************** Collection Page **************************/
.collectionList {
    display: flex;
    flex-direction: column;

    /* border: 1px solid black; */

    position: static;
    margin-top: 1%;
    margin-bottom: 4.5%;
}

.itemProfile {
    background-color: hsla(0, 0%, 0%, 0.6);
    display: flex;
    /* border: 2px solid white; */
    align-self: center;
    width: 100%;
    height: 35%;
    margin-top: 2%;
}

div.itemProfile img {
    margin: 1%;
    height: 600px;
}


.itemText {
    
    margin: 0px;
    text-align: left;
    width: 95%;
    display: flex;

    background-color: hsla(0, 0%, 100%, 0);
}
.itemText div {
    background-color: hsla(0, 0%, 100%, 0.7);
    margin: 5px;
    width: 100%;
}

.itemText h2 {
    text-align: left;
    margin: 10px 50px;
    font-size: 1.1rem;
}

.itemText p {
    text-align: left;
    margin: 10px 50px;
    font-size: 1.1rem;
}

section h1 {
    color: white;
}

/************************** Shop **************************/
.shop-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 20px;
      padding-top: 10px;
      height: 20%;
      margin-bottom: 4.5%;
    }

    .souvenir-item {
      width: 22%;
      background-color: #ffffff;
      padding: 10px;
      border-radius: 6px;
      position: relative;
      font-size: 1.2rem;
    }

    .souvenir-item img {
      width: 50%;
      height: auto;
      cursor: pointer;
      
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .souvenir-item input[type="checkbox"] {
      margin-right: 8px;
    }

    .souvenir-item button {
      margin-top: 5px;
      width: 100%;
      padding: 8px;
      font-weight: bold;
      background-color: #01302d;
      color: white;
      border: none;
      cursor: pointer;
    }

    .souvenir-item button:hover {
      background-color: #000a0a;
    }

    .shop {
        font-size: 1.6rem;
        color: white;
    }

    /*************************** Modal ***************************/
    .modal {
      display: none;
      position: fixed;
      z-index: 9999;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.8);

      font-size: 1.3rem;
      text-align: left;
    }

    .modal-content {
      margin: 5% auto;
      padding: 20px;
      background-color: hsla(0, 0%, 100%, 0.7);
      width: 25%;
      height: 80%;
      border-radius: 8px;
    }

    .modal-content img {
      width: 100%;
      align-self: center;
    }

    .close-modal {
      float: right;
      font-size: 1.2rem;
      cursor: pointer;
      color: #444;
    }

    .modal-body {
        background-color: #ff0000;
    }


    /*************************** Cart ***************************/
    .cart
    {
        background-color: #ffffff;
        color: black;
    }

    .cart div {
        background-color: #ffffff;
    }
    #items {
        display: flex;
        flex-direction: column;
        border-radius: 5px 20px;
        padding: 2px;
    }

    #items div {
        padding: 6px 10px;
        border-radius: 0;
        border-bottom: 1px solid black;
        border-radius: 5px 20px;
        text-align: left;
        font-size: 1.12rem;
    }

    #items img {
        height: 100px;
    }

    .row {
        display: flex;
        flex-direction: row;
    }

    .controls {
        width: 20%;
    }

    .rmButton {
        width: 10%;
   
        font-size: .9rem;
        position: static;
        right: 0;
    }

    #summary {
        border-radius: 5px 20px;
    }
